<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>page.js partials</title>
  <link href="public/css/style.css" rel="stylesheet" type="text/css" media="all" />

  <script src="http://cdnjs.cloudflare.com/ajax/libs/hogan.js/2.0.0/hogan.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="/page.js" type="text/javascript" charset="utf-8"></script>

  <script src="public/js/events.js" type="text/javascript" charset="utf-8"></script>
  <script src="routes/index.js" type="text/javascript" charset="utf-8"></script>
  <script src="app.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="shell">

  <nav id="navigation">
    <ul>
      <li><a href="home">home</a></li>
      <li><a href="portfolio">portfolio</a></li>
      <li><a href="about">about</a></li>
    </ul>
    <ul>
      <li><a href="test">show tests</a></li>
      <li><a href="examples">back to examples index</a></li>
    </ul>
  </nav>
  <section id="content">
    
  </section>

</div>
</body>
</html>
