
body {
  background: url(/transitions/bg.png);
  text-align: center;
  font: 200 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .1em;
}

#content {
  margin: 100px auto;
  padding: 100px 50px 80px 50px;
  width: 500px;
  background: white;
  position: relative;
  opacity: 1;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 0 10px black;
  -webkit-transition: -webkit-transform 300ms ease-out, opacity 300ms ease-out;
}

#content.transition {
  -webkit-transform: translateX(100px);
  opacity: 0;
}

#page {
  margin-top: 40px;
}

nav {
  position: absolute;
  bottom: -26px;
  left: 0;
}

nav a {
  text-decoration: none;
  color: rgba(255,255,255,.3);
  background: -webkit-linear-gradient(#444, #3a3a3a);
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.6), inset 0 -1px 0 rgba(255,255,255,.05);
  -webkit-border-radius: 0 0 2px 2px;
}

nav a:hover {
  color: white;
}

nav a:active {
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.6), inset 0 1px 0 rgba(255,255,255,.05);
}