
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside {
  float: left;
  width: 120px;
}

body {
  margin: 0;
  font: 16px Helvetica, "Helvetica Neue", Arial, sans-serif;
  color: #5C6166;
}

h1,h2,h3 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 18px;
  font-weight: 100;
  margin: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  padding-left: 15px;
  border-color: white;
  -webkit-transition: border-left 400ms;
  -moz-transition: border-left 400ms;
}

nav ul li.active {
  border-left: 5px solid #5C6166;
  padding-left: 10px;
}

nav ul li.active a {
  color: #5C6166;
}

nav ul li a {
  font-size: 13px;
  text-decoration: none;
  color: #999;
  font-weight: 100;
}

#content {
  padding: 20px;
  width: 500px;
  float: left;
  font-size: 14px;
  font-weight: 100;
  opacity: 1;
  margin-left: 0;
  -webkit-transition: opacity 200ms, margin-left 300ms;
  -moz-transition: opacity 200ms, margin-left 300ms;
}

#content.hide {
  opacity: 0;
  margin-left: -40px;
}

h2 {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}