<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>page.js partials tests</title>
  <link href="../public/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/mocha.css" rel="stylesheet" type="text/css" media="all" />
  <!-- test libs -->
  <script src="/mocha.js"></script>
  <script src="/chai.js"></script>
  <!-- test files -->
  <script src="tests.js"></script>
</head>
<body>
  <nav id="navigation">
    <ul>
      <li><a href="/partials">back to partials example</a></li>
      <li><a href="/">back to examples index</a></li>
    </ul>
  </nav>
  <iframe src="../index.html" id="site"></iframe>
  <div id="mocha"></div>
</body>
</html>
