doctype html
html
  head
    title page.js examples
  body
    h1 Examples
    ul
      for name in examples
        li
          a(href='/#{name}')= name
          if ('hash' == name)
            span
              |  -
              a(href="/hash/section?query=string") section
            span
              |  -
              a(href="/hash/section?query=string#subsection") subsection
