body {
  padding: 50px;
  font: 200 16px "Helvetica Neue", Helvetica, Arial;
}

h1 {
  font-weight: 300;
}

a {
  color: #036dff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  margin: 5px;
  width: 150px;
  height: 100px;
}